block libs
  script(src=`${relativePath}assets/js/viewport.bundle.js`)
  //- Gsap https://greensock.com/docs/v3/Installation
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js')

