<div>
  <h1>2</h1>
  <div class="grid grid-cols-2 gap-4">
    <div class="h-24 bg-blue-400">01</div>
    <div class="col-span-2 h-24 bg-red-400">02</div>
    <div class="h-24 bg-yellow-200">03</div>
    <div class="col-span-2 h-24 bg-purple-500">04</div>
    <div class="h-24 bg-pink-300">05</div>
    <div class="col-span-2 h-24 bg-indigo-400">06</div>
    <div class="h-24 bg-emerald-300">07</div>
    <div class="col-span-2 h-24 bg-teal-400">08</div>
    <div class="h-24 bg-orange-400">09</div>
  </div>
</div>
<div class="mt-20">
  <h1>3</h1>
  <div class="grid grid-cols-3 gap-4">
    <div class="col-start-1 col-end-4 h-24 bg-blue-400">01</div>
    <div class="col-start-1 col-end-3 h-24 bg-red-400">02</div>
    <div class="col-start-3 col-end-4 h-24 grid-rows-3 bg-yellow-200">03</div>
    <div class="col-start-1 col-end-2 h-24 bg-purple-500">04</div>
    <div class="col-start-2 col-end-4 h-24 bg-pink-300">05</div>
    <div class="h-24 grid-rows-3 bg-indigo-400">06</div>
    <div class="h-24 bg-emerald-300">07</div>
    <div class="h-24 bg-teal-400">08</div>
  </div>
</div>
<div class="mt-20">
  <h1>1</h1>
  <div class="grid grid-cols-1 gap-4">
    <div class="h-24 bg-blue-400">01</div>
    <div class="h-24 bg-red-400">02</div>
    <div class="h-24 bg-yellow-200">03</div>
    <div class="h-24 bg-purple-500">04</div>
    <div class="h-24 bg-pink-300">05</div>
    <div class="h-24 bg-indigo-400">06</div>
    <div class="h-24 bg-emerald-300">07</div>
    <div class="h-24 bg-teal-400">08</div>
    <div class="h-24 bg-orange-400">09</div>
  </div>
</div>
