<div class="container bg-green-200 p-8">
  <h1 class="text-center font-oswald text-[3rem]">Index</h1>
  <div class="border border-black p-8">
    <p class="text-center font-noto text-base leading-10">
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れていま
    </p>
    <p class="text-center font-noto text-base leading-10">
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れていま
    </p>
    <p class="text-center font-noto text-base leading-10">
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れていま
    </p>
  </div>
</div>
