<div>
  <!-- tabs head -->
  <input id="all" type="radio" name="tab_head" checked />
  <label for="all">総合</label>
  <input id="programming" type="radio" name="tab_head" />
  <label for="programming">プログラミング</label>
  <input id="design" type="radio" name="tab_head" />
  <label for="design">デザイン</label>
  <!-- tabs body -->
  <div class="tab_content" id="all_content">
    <p>総合の内容がここに入ります</p>
  </div>
  <div class="tab_content" id="programming_content">
    <p>プログラミングの内容がここに入ります</p>
  </div>
  <div class="tab_content" id="design_content">
    <p>デザインの内容がここに入ります</p>
  </div>
</div>
