/* ****************************************************************************************************

 # タブ機能のみの実装

**************************************************************************************************** */

/* ラジオボタンを全て消す */
input[name='tab_tab_head'] {
  display: none;
}

/* タブ切り替えの中身のスタイル */
.tab_content {
  display: none;
  overflow: hidden;
}

/* 選択されているタブのコンテンツのみを表示 */
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}
