<div class="container">
  <ul class="flex flex-col flex-wrap justify-between gap-8 md:flex-row">
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
    <li class="js-scroll md:w-[31%]">
      <a href="./single.html">
        <img src="https://placehold.jp/720x480.png" alt="ダミー画像" />
        <div class="p-4">
          <p class="text-sm">カテゴリー</p>
          <p class="py-4 font-noto text-base leading-8">
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
          <p class="pt-8 text-right text-sm">xxxx/xx/xx</p>
        </div>
      </a>
    </li>
  </ul>
</div>
