<!-- <p>{{#if isHome}} トップページ {{else}} 子ページ {{/if}}</p> -->
<header class="absolute top-0 z-10 flex w-full items-center justify-between px-6 py-4">
  <div class="text-6xl font-oswald text-white">TAILWIND DEMO</div>
  <div class="z-20 flex items-center justify-center gap-4">{{> parts/hamburger-btn/index}}</div>
  {{> parts/hamburger-menu/index}}
</header>
<a class="fixed bottom-2 right-6 z-50 animate-bounce" href="https://tailwindcomponents.com/cheatsheet/" target="_blank">
  <button class="rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700">
    tailwind css cheat sheet I'm in header.html
  </button>
</a>
